/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --sidebar-bgcolor: #134e4a;
  --sidebar-color: #64748b;
  --primary-bg: #18181b;
  --primary-color: #cad0db;
  --secondary-bg: #3f3f46;
  --secondary-color: #b6b6b6;
}

/* temporary */
img {
  height: 20px;
  width: 20px;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 175px 1fr;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--sidebar-color);
}

body > .sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--sidebar-bgcolor);
  padding: 5%;
  color: var(--sidebar-color);
}

.sidebar .sidebar-title {
  display: flex;
  font-size: 3rem;
  margin-bottom: 10%;
  align-items: center;
}

.sidebar li {
  margin: 5% 0;
}
.sidebar a {
  display: flex;
  align-items: center;
}

.sidebar .nav1,
.sidebar .nav2 {
  font-size: 2rem;
  margin: 10% 0%;
}

.sidebar img {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  filter: invert(50%) sepia(9%) saturate(1170%) hue-rotate(176deg)
    brightness(85%) contrast(82%);
}

.sidebar .sidebar-title img {
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;
  margin-left: -0.5rem;
}
